body{
	background-image: url("../img/grey.jpg");
}

#Corps{
  position: absolute;
  margin-top: 5%;
  margin-left: 4%;
	margin-right: 5%;
}

img{
	border-style: solid;
  border-color: white;
  border-width: 2%;
}

.Text{
	color: white;
	font-family: "Destiny" ,sans-serif;
}

@font-face {
	font-family: "Destiny";
	src: url('Destiny.ttf') format(truetype);
}

#Details{
		position: absolute;
		padding-top: 5%;
		padding-left: 25%;
}

#Syno{
		position: absolute;
		padding-top: 25%;
		padding-left: 4%;
}

#News{
	position: absolute;
	padding-top: 35%;
	padding-left: 4%;
}
