body{
	background-image: url("../img/grey.jpg");
}

p{
	color: white;
}

#batman{
	display: flex;
	justify-content: center;
}

#robin{
	display: flex;
	justify-content: center;
}

#nightwing{
	display: flex;
	justify-content: center;
}
