/*Les polices utilisées*/

@font-face {
	font-family: "news";
	src: url("fonts/newspaper.ttf") format("truetype");
}


/*Structure répétitive*/

body {
	margin: auto;
	font-family: news;
	background-color: #d3d3d3;
}


/*Les liens*/

a:link,
a:visited {
	text-decoration: none;
	color: Black;
}


/*Menue Navigation Entier*/


#nav {
	margin-left: 2.85%;
	float: left;
}

.navbar-right {
	overflow: hidden;
	background-color: #333;
	margin-top: 4.1%;
	text-align: left;
	font-size: 1.7em;
	border-bottom-right-radius: 60px;
}

.navbar-right a.accueil {
	background-color: #b12c0e;
	color: white;
}

.navbar-right a {
	color: #f2f2f2;
	margin: 0;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.navbar-right a:hover {
	background-color: #ddd;
	color: black;
}

.corp {
	/*Ceci est pour le coeur de page*/
	margin-top: 0;
	padding-top: 12%;
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: auto;
	background-color: white;
	border-style: double;
	border-color: black;
	border-width: 5px;
	max-width: 1285px;
	min-width: 600px;
}

.floating-box {
	padding: 0;
	margin: 0;
	position: fixed;
	height: 10%;
	width: 99.7%;
	color: yellow;
	background-color: #5f5f5f;
	border-style: double;
	border-color: black;
	border-width: 5px;
	border-top-style: none;
	border-left-style: none;
}

.box {
	text-align: left;
	width: 14%;
	height: 210px;
	margin-top: 1.9%;
	padding: 0;
	color: yellow;
	background-color: #5f5f5f;
	border-style: double;
	border-bottom-right-radius: 10%;
	border-color: black;
	border-width: 5px;
	border-top-style: none;
	border-left-style: none;
}

.navbar-left {
	margin: 0px;
	padding: 0.5%;
	text-align: left;
	font-size: 2em;
}

.logo {
	max-height: 271px;
	max-width: 158px;
	margin: 0.6em;
	float: left;
}


/*Fin du menue nav*/

.tab-news {}