html{

background-image:url('ground1.jpg');
background-position:70% 40%;
background-repeat:no-repeat;
background-size: 120%;
}


body
{
  
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;

}

hr{
	color:black;
	height: 3px;
	background-color: black;
	border: none;
	margin-bottom: 3%


}
.box{
background-color:grey;
border: black solid;
max-width: 50%;
margin-top: 10%;
margin-left: 25%;
}

.but{

margin-left: 6%; 
margin-bottom: 6%; 

}

label{
display:inline-block;

width:20%;



}

input{
margin-right: 15%;
margin-bottom: 2%;	
display:inline-block;


}

#error{

margin-top: 20px;

}

p{

color: rd;

}